@model VisitorManagement.Models.Visitor
<div class="col-md-8 col-md-offset-2 section-title">
    <div class="intro-text">
        <h2>Please Sign in</h2>
    </div>
    <div class="row">
        <form asp-action="Create" asp-controller="Visitors">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-xs-6 col-md-3">
                @*<i class="fa fa-android"></i><br />*@
                <label class="h4">Returning Visitors Choose your name</label>

                <select asp-items="@((List<SelectListItem>)  ViewData["ReturningVisitors"] )" class="form-control" id="mySelect">
                    <option value="" selected="selected">Type Your Name</option>
                </select>

            </div>
            <div class="form-group col-xs-6 col-md-3">
                <i class="fa fa-android"></i><br />
                <label asp-for="FirstName" class="h4">First Name</label>
                <div class="autocomplete">
                    <input asp-for="FirstName" class="form-control" />
                </div>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-xs-6 col-md-3">
                <i class="fa fa-android"></i><br />
                <label asp-for="LastName" class="h4">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group col-xs-6 col-md-3">
                <i class="fa fa-android"></i><br />
                <label asp-for="Business" class="h4"></label>
                <input asp-for="Business" class="form-control" />
                <span asp-validation-for="Business" class="text-danger"></span>
            </div>
            <div class="form-group col-xs-6 col-md-3">
                <i class="fa fa-android"></i> <br />
                <label asp-for="StaffName" class="h4">Staff Member </label>
                <select asp-for="StaffName.Id" asp-items="@((List<SelectListItem>) ViewData["Staff"])" class="  form-control">
                    <option value="">Pick one</option>
                </select>
                <span asp-validation-for="StaffName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {




    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
