@model VisitorManagement.Models.FilesViewModel

<div id="TopSpacer">
    <div class="col-md-8 col-md-offset-2 section-title">
        <H2>List of Files</H2>
        <ul>
            @foreach (var item in Model.Files)
            {
                <li>
                    <a asp-action="Download"
                       asp-route-filename="@item.Name">
                        @item.Name
                    </a>
                </li>
            }
        </ul>

    </div>
</div>